<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>REALT</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

    <servlet>
        <display-name>login-page</display-name>
        <servlet-name>LoginPageController</servlet-name>
        <servlet-class>by.gsu.lab.controllers.LoginPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageController</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>

    <servlet>
    <display-name>insert-book</display-name>
    <servlet-name>InsertBooks</servlet-name>
    <servlet-class>by.gsu.lab.controllers.InsertBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBooks</servlet-name>
    <url-pattern>/InsertBooks</url-pattern>
  </servlet-mapping>  
  <servlet>
    <display-name>insert-arrive</display-name>
    <servlet-name>InsertArrive</servlet-name>
    <servlet-class>by.gsu.lab.controllers.InsertArrive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertArrive</servlet-name>
    <url-pattern>/InsertArrive</url-pattern>
  </servlet-mapping>  
  <servlet>
    <display-name>insert-sell</display-name>
    <servlet-name>InsertSells</servlet-name>
    <servlet-class>by.gsu.lab.controllers.InsertSells</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSells</servlet-name>
    <url-pattern>/InsertSells</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>view-data</display-name>
    <servlet-name>ViewDataController</servlet-name>
    <servlet-class>by.gsu.lab.controllers.ViewDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDataController</servlet-name>
    <url-pattern>/ViewDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>task3</display-name>
    <servlet-name>Task3Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Task3Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task3Controller</servlet-name>
    <url-pattern>/Task3Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>task4</display-name>
    <servlet-name>Task4Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Task4Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task4Controller</servlet-name>
    <url-pattern>/Task4Controller</url-pattern>
  </servlet-mapping> 
  <servlet>
    <display-name>task5</display-name>
    <servlet-name>Task5Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Task5Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task5Controller</servlet-name>
    <url-pattern>/Task5Controller</url-pattern>
  </servlet-mapping>  
  <servlet>
    <display-name>task1</display-name>
    <servlet-name>Task1Controller</servlet-name>
    <servlet-class>by.gsu.lab.controllers.Task1Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Task1Controller</servlet-name>
    <url-pattern>/Task1Controller</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <taglib>
      <taglib-uri>/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>