<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>REALT</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

    <servlet>
        <display-name>login-page</display-name>
        <servlet-name>LoginPageController</servlet-name>
        <servlet-class>by.ander.web.controllers.LoginPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPageController</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>

    <servlet>
    <display-name>insert-user</display-name>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>by.ander.web.controllers.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>  
  <servlet>
    <display-name>insert-apartment</display-name>
    <servlet-name>InsertApartment</servlet-name>
    <servlet-class>by.ander.web.controllers.InsertApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertApartment</servlet-name>
    <url-pattern>/InsertApartment</url-pattern>
  </servlet-mapping>  

  <servlet>
    <display-name>view-data</display-name>
    <servlet-name>ViewDataController</servlet-name>
    <servlet-class>by.ander.web.controllers.AdminPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDataController</servlet-name>
    <url-pattern>/ViewDataController</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>index-data</display-name>
    <servlet-name>IndexPageController</servlet-name>
    <servlet-class>by.ander.web.controllers.IndexPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPageController</servlet-name>
    <url-pattern>/IndexPageController</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <taglib>
      <taglib-uri>/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
</web-app>